
.side-content{
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;
  a:link {text-decoration: none;}
  a:visited { color:white; text-decoration:none }
  a:hover { color:white; text-decoration:none }
  a:active { color:white; text-decoration:none }
     
}

.side-header{
  height: 96px;
  background-color: #253141;
  padding: 0 20px;
  line-height: 96px;
  display: flex;
  justify-content: space-between;
  &__name{
    font-size: 16px;
    color: $white;
    font-weight: bold;
  }
  &__menu{
    display: flex;
    color: $white;
  
    &__new-group{
    }
    
    &__edit-acount{
    }
  }
}

.group__box{
  padding-bottom: 40px;
}

.group{
  padding:20px 20px 0;
  color: $white;
  width: 300px;
  box-sizing: border-box;
  height: calc(100vh - 96px);
  overflow: scroll;

  &__name{
    font-size: 15px;
    font-weight: bold;
    padding-bottom:  5px;
  }
  &__message{
    font-size: 11px ;
    color: $white;
  }
}

.main-content{
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
}

.main-header{
  height: 96px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
}
.main-box{
  &__group-name{
    font-size: 20px;
    color: #333333;
    padding: 35px 0 15px;
  }
  &__member-list{
    font-size: 12px;
    color: #999999;
  }
}

.main__edit-btn{
  color: $blue;
  height: 40px;
  padding: 0 20px;
  border: solid 1px $blue;
  line-height: 40px;
  margin-top: 28px;
  a:visited { color: $blue; text-decoration:none }
  a:link {text-decoration: none;}

}

.messages{
  height: calc(100vh - 243px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  padding-bottom: 40px;
  &__user{
    font-weight: bold;
    display: flex;
    padding-bottom: 10px;
    font-size: 16px;
    &__date{
      font-size: 12px;
      color: #999999;
      padding-left: 10px;
    }
  }
  &__text{
    font-size: 14px;
    color: #434A54;
  }
}

.form{
  height: 50px;
  background-color: #999999;
  padding: 25px 40px;
  &__box{
    display: flex;
    line-height: 50px;
  }
}

.message-box{
  height: 50px;
  width: calc(100vw - 511px);
  background-color: #fafafa;
  padding-left: 10px;
  justify-content: space-between;
  border-style: none;
  &__image{
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0 10px;
    position: absolute;
    right: 160px;
    &__file{
      display: none;
    }
  }
}

.send-btn{
  height: 50px;
  width: 100px;
  background-color: $blue;
  margin-left: 15px;
  padding: 0 10px;
  color: $white;
  text-align: center;
  border-style: none;
}