@import "./reset";
@import "font-awesome";
@import "user";
@import "./_side";
@import "main";
@import "variable";
@import "modules/flash";
@import "groups/group";

:root {
  --main-gutter: 20px;
  --top-padding: padding-top: 35px;
}


.chat {
	display: flex;
	height: 100vh;
}


